<!DOCTYPE html>
<html>
<head>
	<title>Anime Catalog</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<header>
	<div id="heading">
		<span class="heading-name">
		<a href="/">Item Catalog</a>
		</span>

		<span class="row-space"></span>

		{% if g.logged_in %}
			<a class="bar-btn" href="{{ url_for('new_item') }}">New</a>
		{% endif %}

		<div class="vertical-space"></div>

		
	</div>
</header>



</body>
</html>
